!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>

<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <title>Products</title>
    <style>
        .text {
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 4; /* number of lines to show */
            -webkit-box-orient: vertical;
            height: 108px !important;
        }
    </style>
    <link rel="stylesheet" type="text/css"  href="{{ url_for('static',filename='assets/style.css')}}" >
</head>

<body>
    <header>
        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#mynavbar">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a href="/" class="navbar-brand">Generic Ecommerce Website</a>
                </div>
                <div class="collapse navbar-collapse" id="mynavbar">
                    <ul class="nav navbar-nav navbar-right">

                        <li><a href="/view_cart"><span class="glyphicon glyphicon-shopping-cart">Cart({{ user["cart"]|length }})</span></a></li>
                        <li><a href="/my_orders"><span class="glyphicon glyphicon-tasks">MyOrders</span></a></li>
                        <li><a href="/logout"><span class="glyphicon glyphicon-log-out">Logout</span></a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <main>
        <div class="container">
            <div class="jumbotron jumbotron_style">
                <h1>Welcome to our Generic Ecommerce Store!</h1>
                <p> We have the best in class products for you.No need to hunt it around,we have all in one
                    place.
                </p>
            </div>
            <div class="padding-20"></div>
            <div class="col-md-8">
                <div class="thumbnail">
                    {% if product['images']|length != 0 %}
                    <img src="{{ product['images'][0] }}" alt="Nikon" style="height: 500px !important;">
                    {% endif %}
                    {% if product['images']|length == 0 %}
                    <img src="{{ url_for('static',filename='images/default.png')}}">
                    {% endif %}
                    <div class="caption">
                        <h2 ><b>{{ product['productName'] }}</b></h2>
                        <h2><b> Rs. {{ product['price']|round(2) }}</b> </h2>
                        <h4> &nbsp;&nbsp;&nbsp;&nbsp;{{ product['description'] }} </h4>
                        <br>
                        <div class="row" style="margin-left: 40%;">
                            <form action="http://localhost:5000/buy/{{ product['productId'] }}">
                                <input type="submit" value="Buy Now" style="width: 100px;">
                            </form>
                            <form action="http://localhost:5000/cart/{{ product['productId'] }}">
                                <input type="submit" value="Add to Cart" style="width: 100px;">
                            </form>
                        </row>
                    </div>
                </div>
            </div>
        </div>
    </main>
</body>
</html>
