<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <style>
        body {
          background-image: url("{{ url_for('static', filename='images/background.jpg') }}");
        }
    </style>
    <title>Generic Ecommerce Website</title>

    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#mynavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="index.html" class="navbar-brand">Generic Ecommerce Website</a>
            </div>
            <div class="collapse navbar-collapse" id="mynavbar">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="/admin_signup"><span class="glyphicon glyphicon-cog">AdminSignup</span></a></li>
                    <li><a href="/admin_login"><span class="glyphicon glyphicon-cog">AdminLogin</span></a></li>
                    <li><a href="/register" class=""><span class="glyphicon glyphicon-user">SignUp</span></a></li>
                    <li><a href="/"><span class="glyphicon glyphicon-log-in">Login</span></a></li>
                </ul>
            </div>
        </div>
    </nav>

</head>

<body>

    {% block body %}{% endblock %}

    <script src="{{ url_for('static', filename='js/jquery.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>

</body>

</html>